<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Example</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="style/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style/style.css">


	<script src="scripts/angular.min.js"></script>
	<script src="scripts/angular-messages.min.js"></script>
	<script src="scripts/jquery.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>


	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.css" type="text/css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.js"></script>
	<script src="scripts/example.js"></script>
</head>
<body ng-app="exampleApp">
	<div class="container">
		<div class="row justify-content-md-center">


			<div ng-controller="ExampleController" class="container-fluid sampleForm">
				<div class="text-left">
					<h1 align="center">Sample Form</h1>
					<!-- <p class="lead">Example Form.</p> -->
				</div>
				<form name="exampleForm" class="form-horizontal outerContainer" role="form">
					<div class="row">

						<div class="col-sm-6 col-lg-6">
							<div class="form-group">
								<label for="inputEmail" class="col-md-4 control-label">Title:</label>
								<div class="col-md-8">
									<select class="form-control">
										<option>Mr</option>
										<option>Mrs</option>
										<option>Dr</option>
										<option>Miss</option>
										<option>Master</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6 col-lg-6">
							<div class="form-group">
								<label for="firstName" class="col-md-4 control-label">First Name:</label>
								<div class="col-md-8">
									<input type="text" class="form-control" id="firstName" name="firstName" ng-model="firstName" placeholder="eg. John" minlength="2" required>
									<ul class="error-msgs errorColor" ng-messages="exampleForm.firstName.$dirty&&exampleForm.firstName.$error">
										<li ng-message="required">This field is required</li>
										<li ng-message="minlength">Minimum 2 characters are required.</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6">
							<div class="form-group">
								<label for="lastName" class="col-md-4 control-label">Last Name:</label>
								<div class="col-md-8">
									<input type="text" class="form-control" id="lastName" ng-model="lastName" name="lastName" placeholder="eg. Webber" minlength="2" required>
									<ul class="error-msgs errorColor" ng-messages="exampleForm.lastName.$dirty&&exampleForm.lastName.$error">
										<li ng-message="required">This field is required</li>
										<li ng-message="minlength">Minimum 2 characters are required.</li>
									</ul>
								</div>

							</div>
						</div>         
					</div>

					<div class="row">
						<div class="col-sm-12 col-lg-12">
							<div class="form-group">
								<label for="email" class="col-md-2 control-label">Email:</label>
								<div class="col-md-10">
									<input type="email" class="form-control" id="email" placeholder="example@com.au" ng-model="email" name="email" required>
									<ul class="error-msgs errorColor" ng-messages="exampleForm.email.$dirty&&exampleForm.email.$error">
										<li ng-message="required">This field is required</li>
										<li ng-message="email">not a valid email</li>
									</ul>
								</div>
							</div>
						</div>         
					</div>
					<div class="row">
						<div class="col-sm-6 col-lg-6">
							<div class="form-group">
								<label for="street" class="col-md-4 control-label">Street Address:</label>
								<div class="col-md-8">
									<input type="text" class="form-control" id="street" placeholder="eg. 674 Botany Road">
								</div>
							</div>
						</div> 
						<div class="col-sm-6 col-lg-6">
							<div class="form-group">
								<label for="city" class="col-md-4 control-label">City:</label>
								<div class="col-md-8">
									<input type="text" class="form-control" id="city" placeholder="eg. Alexandria">
								</div>
							</div>
						</div> 

						<div class="col-sm-6 col-lg-6">
							<div class="form-group">
								<label for="state" class="col-md-4 control-label">State:</label>
								<div class="col-md-8">
									<input type="text" class="form-control" id="state" placeholder="eg. LA"  name="usState" ng-model="validState" uppercased valid-state>
									<ul class="error-msgs errorColor" ng-messages="exampleForm.usState.$error">
										<li ng-message="usStateValidator">Invalid State.</li>
									</ul>
								</div>                        
							</div>
						</div> 

						<div class="col-sm-6 col-lg-6">
							<div class="form-group">
								<label for="zip" class="col-md-4 control-label">Zip:</label>
								<div class="col-md-8">
									<input type="text" ng-pattern="/(^\d{5}$)|(^\d{5}-\d{4}$)/" class="form-control" id="zip" placeholder="eg. 12345 or 12345-1234" name="zip" ng-model="zip" required>
									<ul class="error-msgs errorColor" ng-messages="exampleForm.zip.$dirty&&exampleForm.zip.$error">
										<li ng-message="pattern">Invalid zip!</li>
										<li ng-message="required">This field is required</li>
									</ul>
								</div>
							</div>
						</div> 
					</div>

					<div class="row">
						<div class="col-sm-6 col-lg-6">
							<div class="form-group">
								<label for="optIn" class="col-md-4 control-label">Marketing Opt-in:</label>
								<div class="row">
									<div class="container">
										<div class="col-sm-12 col-md-2">
											<div class="checkbox">
												<label>
													<input type="checkbox" id="company" ng-model="company" value="Company" aria-label="...">Company
												</label>
											</div>
										</div>
										<div class="col-sm-12 col-md-2">
											<div class="checkbox">
												<label>
													<input type="checkbox" ng-disabled="!company" id="thirdParty1" value="thirdParty1" aria-label="...">Third Party1
												</label>
											</div>
										</div>
										<div class="col-sm-12 col-md-2">
											<div class="checkbox">
												<label>
													<input type="checkbox" id="thirdParty2"  ng-disabled="!company" value="thirdParty2" aria-label="...">Third Party2
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">

						<div class="col-sm-6 col-lg-6">
							<div class="form-group">
								<label for="charityName" class="col-md-4 control-label">Charity to Donate:</label>
								<div class="col-md-8">
									<select class="form-control" ng-model="charityName" name="charityName"
									ng-model="id" 
									ng-options="charity.id as charity.name for charity in charityOrgs" required>
									<option value="">-- select an option --</option>
								</select>
								<ul class="error-msgs errorColor" ng-messages="exampleForm.charityName.$dirty&&exampleForm.charityName.$error">
									<li ng-message="required">This field is required</li>
								</ul>
							</div>
						</div>
					</div>
				</div>


				<div class="row">

					<div class="col-sm-6 col-lg-6">
						<div class="form-group">
							<label for="inputEmail" class="col-md-4 control-label">Donation:</label>
							<div class="col-md-8">
								<input id="ex6" type="text" data-slider-min="10" data-slider-max="1000" data-slider-step="1" data-slider-value="3"/>
								<span id="ex6CurrentSliderValLabel"> &nbsp;&nbsp; $<span id="ex6SliderVal">&nbsp;&nbsp;10</span></span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 col-lg-6">
						<div class="form-group radioGroup ">
							<label for="gender" class="col-md-4 control-label">Gender:</label>
							<div class="row" id="gender">
								<div class="container">
									<div class="col-sm-12 col-md-2">
										<div class="radio">
											<label>
												<input type="radio" name="gender" value="male" aria-label="...">Male
											</label>
										</div>
									</div>
									<div class="col-sm-12 col-md-2">
										<div class="radio">
											<label>
												<input type="radio" name="gender"value="female" aria-label="...">Female
											</label>
										</div>
									</div>
									<div class="col-sm-12 col-md-4">
										<div class="radio">
											<label>
												<input type="radio" name="gender" value="other" aria-label="...">I'd rather not disclose
											</label>
										</div>
									</div>
								</div>
							</div>
							

							
						</div>
					</div>
				</div>
			
				<div class="row">
					<div class="col-sm-6 col-lg-6">
						<div class="form-group">
							<div class="row">
								<div class="container">
									<div class="col-sm-6 col-md-6">
										<div class="checkbox">
											<label>
												<div id="myNav" class="overlay">
													<a href="javascript:void(0)" class="closebtn" onclick="closeTerms()">&times;</a>
													<!-- text overlay -->
													<div class="overlay-content">
														Important Terms and Condtions: <br/><br/>
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
														tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
														quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
														consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
														cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
														proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br/><br/>
													</div>
												</div>
												<input type="checkbox" id="company" value="Company" aria-label="..." checked ng-model="agree" name="agree" ng-model="id"  required/>I agree and accept the
												<span style="text-decoration: underline; cursor:pointer" onclick="showTerms()">terms and condition</span>
												<!-- Trigger/Open The Modal -->
												<ul class="error-msgs errorColor" ng-messages="exampleForm.charityName.$dirty&&exampleForm.charityName.$error">
													<li ng-message="required">Please agree to Terms</li>
												</ul>
											</label>
										</div>
									</div>
								</div>
							</div> 
						</div>
					</div>
				</div>


				<div class="row">
					<div>
						<div class="col-sm-12 col-md-12">
							<span ng-bind="errorMessage" class="errorColor"></span><br/><br/>
							<button class="btn btn-default" type="button" ng-click="submitForm()">Submit Form</button>
						</div>
					</div>
				</div>

			</form>
		</div><!-- /.container -->
	</div>
</div>

<script type="text/javascript">
	// slider
	var slider = new Slider("#ex6");
	slider.on("slide", function(sliderValue) {
		document.getElementById("ex6SliderVal").textContent = sliderValue;
	});
</script>

</body>
</html>